# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# OS
.DS_Store
Thumbs.db

# logs
logs/
*.log

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
runs
run-data

repo